#gallery-selected-picture-container{
    background-color: #000000;
}

#selected-picture{

    background-color: #ff0000;
    height: 30em;
}


#secondary-pictures {

    background-color: #ff0000;
    height: 10em;

 }

