#picture-container {
    background-color: #abcdef;
    border-style: solid;

    }


#picture {
    background-color: #ff0000;
    height: 40em;
}


#song-header {
    font-size: 2em;
    font-style: bold;
}

