<h1> About TUFC </h1>

<p> Tufts University Football Club(TUFC) is a club that promotes good things at Tufs University. I don't know what else to really say here.... So I need help filling stuff in.</p>

