<head>

<%= stylesheet_link_tag 'custom/about', :media => 'screen' %>
<%= javascript_include_tag 'slides.min.jquery.js' %>
<%= javascript_include_tag 'jail.js' %>
<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
<script>
  $(function(){
    $("#slides").slides({
    play: 5000,
    preload: false,
    hoverPause: true,
    pagination: false,
    generatePagination: false
    });

     $('img.lazy').jail();
  });
</script>
</head>

<h1> About TUFC </h1>

<blockquote> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tufts University Football Club is a Tier II Club Sport founded in 2006 at Tufts University in Medford, Massachusetts.  Since its inception, the main purpose of TUFC has been to provide students with a competitive opportunity to play collegiate soccer.  We are very proud of our more than 50 alumni who have been instrumental to the growth and success of the club during its short history. TUFC fields players from all over the world, and is determined to maintain diversity on all of our teams. Every member of the club must abide by our constitution, which ensures that no one shall be excluded from playing.  Within the team, a love of international soccer has instilled the desire to pursue competition abroad with training-related trips to Madrid, Rome, and Amsterdam during spring break trips starting in 2009.<br /><br />

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;During the fall of 2007, TUFC was re-forged by two students, Jon Zindman (’10) and Dalton Swing (’10), (after the initial step was taken by Chip West (’07), and a large graduating class.)  A seven member E-board was created for the purpose of upholding the club's high standards as the program develops. A top priority for the E-board has been gaining complete recognition from the school. TUFC participates in the fall New England Collegiate Club Soccer League and the spring New England Premier League. We have advanced to the playoffs of both leagues, completed 9 seasons, played 88 official matches to date, competed in three European countries, and have won the inaugural NESCAC Cup in 2010.  Our program was sponsored by the Dr. Pepper & Snapple Group’s energy drink: Venom.  In their honor, we hold the Venom Cup indoor soccer tournament every semester. In 2010, TCU Senate awarded TUFC a $30,000 grant to help develop the program in the coming years.<br /><br />

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Today, TUFC's active membership continues to grow.  Each semester, elections are held for club members to elect fellow teammates to the roles of Captains, Treasurer, Fundraising Chairs, Secretary, and Social Chair.  Currently, the club is divided into two teams, the 1st and 2nd; or, as they are also known as “Blue” and “White,” respectively.  The 1st Team competes in all league games while the 2nd team trains and competes in several friendlies each season.  Player roles fluctuate between both teams as the season progresses, and the two teams tend to complement one another.  TUFC was pleased to help create the Tufts University Women's Football Club, (TUWFC) in the Fall of 2010 along with Susan Golbe (’11), Kelly Banks (’12), and Katie Chace (’12).  TUWFC acts as our sister team, which competes against other New England based women’s club teams, and hopefully will join TUFC for its Spring Break trips.<br /><br />

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;During upcoming seasons, TUFC looks to build upon past success as we continue to develop and mature as a club sports program.  Our hope is that continued administrative cooperation, leadership, and the ever-important generosity of TUFC families will bring new achievements for our team and supporters to enjoy. We look forward to future involvement with the local community as we share our mission of soccer for everyone who wishes to play.
</blockquote>

  <div class="span-24 llast" id="picture-container">
  <div id="slides">
    <div class="slides_container">
      <% @pictures.size.times do |index| %>
        <%= image_tag(@pictures[index].url(:expires_in => 60*60*3), :size =>'950x410') %>
      <% end %>
    </div>
  </div>
</div>

