<head>

<%= stylesheet_link_tag 'custom/about', :media => 'screen' %>

</head>

<h1> About TUFC </h1>

<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a est a nibh bibendum ullamcorper eget nec ante. Proin in nisl in metus condimentum pharetra. Quisque non sapien augue. Nunc aliquam, odio et luctus condimentum, tellus nibh gravida nulla, in hendrerit felis dolor vitae nisi. Quisque ut risus nulla. Quisque eu dui mauris. Aliquam ut odio a quam consectetur sodales. Cras suscipit ligula quis nunc facilisis at condimentum tortor posuere. Integer varius velit et elit dignissim sit amet rutrum lectus vehicula. Morbi lobortis mattis libero, id egestas neque egestas nec. Vestibulum id tincidunt sem. Morbi bibendum nulla sed risus sollicitudin bibendum.

Nunc euismod mi eu nibh tristique nec faucibus lectus molestie. Integer vitae nisi purus, at suscipit tellus. Suspendisse potenti. Aenean nisi enim, semper at rutrum non, tristique eget lacus. Sed hendrerit pulvinar lorem, quis porta justo elementum non. Ut metus sem, vestibulum eget dapibus a, suscipit non magna. Vivamus eget felis justo, at dictum purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin sed erat vitae purus faucibus faucibus sed at lacus. In odio dui, mollis nec faucibus a, facilisis in est. Nam vitae dui ut risus vehicula laoreet. Maecenas feugiat, augue eu blandit rutrum, sem velit aliquet nisl, nec mollis orci diam et ante. Duis et ante massa.
</blockquote>


<div id="gallery-selected-picture-container" class="prepend-2 span-20 append-2 last">
  <div class="span-20" id="selected-picture">
    This is the selected picture container.
  </div>
</div>

<hr class="space" />

<div id="secondary-pictures-conatiner" class="prepend-1 span-22 append-1 last">
  <div class="span-22" id="secondary-pictures">
    This is where all the other pictures will go.
  </div>
</div>

