<head>

<%= stylesheet_link_tag 'custom/about', :media => 'screen' %>
<%= javascript_include_tag 'slides.min.jquery.js' %>
<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
<script>
  $(function(){
    $("#slides").slides({
    play: 5000,
    preload: false,
    hoverPause: true,
    pagination: false,
    generatePagination: false
    });
  });
</script>
</head>

<h1> About TUFC </h1>

<blockquote>Tufts University Football Club is a extra curricular group of students at Tufts with a mission to better the Tufts community by promoting the sport of soccer and the values that come along with the game. With a written consitution that every executive board must abide by, TUFC is ensured to be a club that welcomes students from all skill, socio-economic, and racial backgrounds. TUFC, was forged by two students, Jon Zindman and Dalton Swing, with a vision to organize soccer matches for all those players who either could not or did not want to play varsity soccer. From their vision, they created a club that has since gotten over $25,000 dollars in funding from Tufts affiliates, with enormous donations from generous players and their faimilies.<br /><br />

Today, TUFC stands around 50 members strong. There are freely held elections each semester, where club members have the opportunity to pitch their visions for various club executive positions. This ensures that the club makes progress each semester with new visions, goals, and members. Currently, the club has had such a good turnout that it has been more effective to form three teams. The TUFC A team has the most skilled players on call, and routinley makes the playoffs each year. TUFC B team is for less-skilled and younger players who hope to work their way up into the A team. Tufts University Women's Football Club is a newly created team from the female players that were previously on TUFC. They have now seceded and formed their own club, and TUFC wishes them the best of luck as they move forward.
</blockquote>

  <div class="span-24 llast" id="picture-container">
  <div id="slides">
    <div class="slides_container">
      <% @pictures.size.times do |index| %>
        <%= image_tag(@pictures[index].url(:expires_in => 60*60*3), :size =>'950x410') %>
      <% end %>
    </div>
  </div>
</div>

