<!DOCTYPE html>
<html>
<head>
<%= render 'shared/stylesheets' %>
<title> Under Construction! </title>
<%= csrf_meta_tag %>
</head>
<body>
<div class="container showgrid" id="container">
<div class="prepend-4 span-8 last" id="picture-wrapper">
<%= image_tag 'stadium_construction.jpg', :alt => 'Soccer Stadium Under Construction' %>
</div>
<hr class="space" />
<div id="text" class="prepend-2">
<h1>This website is under construction, be back soon!</h1>
</div>
</div>
</body>
</html>

