<% if @games.size == 0 %>
<div class="prepend-9 span-6 append-9 last">
Sorry, there are no recent games to show!
</div>
<% else %>
<div class="span-24 last">
<table border="1"">
<tr>
<% if signed_in? %>
<td></td>
<% end %>
<td><b>Date</b></td>
<td><b>Against</b></td>
<td><b>TUFC Goals</b></td>
<td><b>Away Goals</b></td>
<td><b>Home Game</b></td>
<td><b>League Game</b></td>
<td><b>Playoff Game</b></td>
<td><b>Result</b></td>
</tr>
<% @games.each do |game| %>
<%= render 'game', :game => game %>
<% end %>
</tr>
</table>
<div class="prepend-6 span-7" id="paginate-information">
<hr class="space" />
<hr class="space" />
<%= will_paginate @games %>
<%= raw(page_entries_info @games) %>
</div>
</div>
<% end %>

