<div class="prepend-1 span-22 append-1 last">
<table border="1"">
<tr>
<td><b>Date</b></td>
<td><b>Against</b></td>
<td><b>TUFC Goals</b></td>
<td><b>Away Goals</b></td>
<td><b>Home Game</b></td>
<td><b>League Game</b></td>
<td><b>Playoff Game</b></td>
<td><b>Result</b></td>
</tr>
<%= render @game %>
</tr>
</table>
<% if signed_in? %>
<hr class="space" />
<%= link_to 'Edit This Game', edit_game_path(@game.id) %><br />
<%= link_to 'Delete This Game', game_path(@game.id), :method => :delete %>
<% end %>
</div>

